="Name: #{@athlete['firstname']} #{@athlete['lastname']}"
="Shirt Size: #{@size}"

%table.bordered.padding
  %thead
    %tr
      %th{"data-field" => "id"} Date
      %th{"data-field" => "name"} Distance
      %th{"data-field" => "price"} Time
      %th{"data-field" => "price"} Total Distance
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity['@date']
        %td= activity['@distance_mi']
        %td= activity['@time_min']
        %td= activity['@total_distance_mi']
    = yield
